.about_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: var(--m-height);
    padding: 0 20px 50px;
}

#about {
    padding: 60px 0 90px 0;
}

.timeline {
    position: relative;
    list-style: none;
}
.timeline:before {
    position: absolute;
    top: 20px;
    bottom: 0px;
    left: 6vw;
    width: 2px;
    content: "";
    background-color: var(--text);
}

.timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}
.timeline > li:after,
.timeline > li:before {
    display: table;
    content: " ";
}
.timeline > li:after {
    clear: both;
}
.timeline > li .timeline-panel,
.timeline > li .timeline-panel-last {
    position: relative;
    text-align: left;
}
.timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}
.timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}
.timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 10vw;
    height: 10vw;
    text-align: center;
    color: var(--text);
    border: 7px solid var(--color);
    border-radius: 100%;
    background-color: var(--theme);
    overflow: hidden;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(2px 2px 4px hsla(var(--code), 0%, 0%));
    box-shadow: inset 1.2px 1.2px 6px hsla(var(--code), 0%, 0%);
}

.timeline > li .timeline-image > svg {
    margin: auto;
    height: 100%;
    width: 100%;
    filter: drop-shadow(2px 2px 4px hsla(var(--code), 0%, 0%));
}

.timeline > li:nth-child(even) > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}
.timeline > li:nth-child(even) > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}
.timeline > li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-panel > h4:nth-child(1) {
    font-size: 3rem;
    margin: 10px 0;
    text-transform: uppercase;
    font-family: Philosopher, Montserrat, cursive;
}

.timeline .timeline-panel > * {
    filter: drop-shadow(2px 2px 4px hsla(var(--code), 0%, 0%));
    letter-spacing: 1px;
}

.timeline .timeline-panel-last > h4 {
    font-size: 3rem;
    margin-top: 15.5px !important;
    color: var(--color);
}

.timeline .timeline-panel .subheading {
    text-transform: none;
    font-size: 2.7rem;
    color: var(--color);
    margin: 10px 0;
    font-family: Philosopher, Montserrat, cursive;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
    margin: 15px 0;
    font-size: 2.3rem;
}

@media (max-width: 768px) {
    .timeline > li .timeline-panel,
    .timeline > li .timeline-panel-last {
        margin: 0px 0px 0px 20vw;
        flex-grow: 1;
        word-break: break-word;
    }

    .timeline > li .timeline-panel-last {
        margin-left: 20vw;
    }
}

@media (min-width: 768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline > li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px;
        text-align: right;
    }
    .timeline > li .timeline-panel-last {
        padding: 4px 20px 0 !important;
    }
    .timeline > li .timeline-image {
        left: 50%;
        transform: translateX(-50%);
        width: 6vw;
        height: 6vw;
    }
    .timeline > li:nth-child(even) > .timeline-panel {
        float: right;
        padding: 0 20px 20px;
        text-align: left;
    }
}

@media (min-width: 992px) {
    .timeline > li .timeline-panel {
        padding: 0 0 20px 20px;
    }

    .timeline > li:nth-child(even) > .timeline-panel {
        padding: 0 20px 20px;
    }
}
@media (min-width: 1200px) {
    .timeline > li:nth-child(even) > .timeline-panel {
        padding: 0 20px 20px;
    }
}
