.section_title_out {
    margin: auto auto 30px 15px;
    width: -moz-fit-content;
    width: fit-content;
    border-bottom: 3px solid var(--color);
}

.section_title {
    margin: 0;
    padding: 0 10px;
    font-size: 5rem;
    font-family: var(--styled-font);
    font-weight: 600;
    color: var(--color);
    letter-spacing: 3px;
    text-transform: capitalize;
    filter: drop-shadow(var(--shadows));
}
