.section_title_out {
    margin: auto auto 30px 15px;;
    width:-moz-fit-content;
    width:fit-content;
    border-bottom: 3px solid var(--color);
}

.section_title {
    margin: 0;
    padding: 0 10px;
    font: 700 5rem 'Kaushan Script', cursive;
    color: transparent;
    letter-spacing: 3px;
    text-transform: capitalize;
    background-image: linear-gradient(180deg, var(--text) 0%, var(--color) 100%);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    filter: drop-shadow(2px 2px 3.5px #000008);
}
