.contact_container {
    height: 100%;
    min-height: var(--m-height);
    width: 100%;
}

.contact_container > div:nth-child(1) {
    margin: 10px;
    padding: 10px;
}

.contact_container_inner {
    margin: 0 10px 10px;
    padding: 0 10px 10px;
}

.contact_form_out {
    height: auto;
    width: 100%;
    background: hsla(var(--code), 0%, 100%, 0.102);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border-radius: 25px;
    flex-direction: row;
    justify-content: center;
    padding: 7rem 0;
}

.contact_form {
    height: auto;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.textarea_out {
    padding-top: 15px;
    width: 50%;
}

.textarea_out .input_out {
    width: 100%;
}

.textarea_out .input_out .messCount {
    display: block;
    text-align: end;
    margin: 5px;
    font-size: 1.3rem;
}

.contactErrorMess {
    position: absolute;
    font-weight: 700;
    margin: 1px 5px;
    font-size: 1rem;
}

.input_out .input:not(:focus) ~ .contactErrorMess {
    opacity: 0;
}

#message {
    width: 100%;
}

/*^====================> Form <====================^*/

.input_out {
    display: block;
    position: relative;
    padding: 20px 0;
    font-size: 2.5rem;
    filter: drop-shadow(0.8px 0.8px 1.8px hsla(var(--code), 0%, 0%, 0.2));
}

.textarea_out {
    display: block;
    position: relative;
    font-size: 2.5rem;
    filter: drop-shadow(0.8px 0.8px 1.8px hsla(var(--code), 0%, 0%, 0.2));
}

.input_out .input,
.input_out > textarea {
    background: transparent;
    position: relative;
    display: block;
    color: var(--text);
    font-size: 2.5rem;
    padding: 5px 7px;
    letter-spacing: 1px;
    border: none;
    border-bottom: 2px solid var(--color);
    z-index: 2;
    outline: 0;
}

.input_out .input:focus ~ .contactErrorMess {
    color: var(--invalid) !important;
    opacity: 1;
}

.input_out .input:focus,
.input_out > textarea:focus {
    border-bottom: 2px solid var(--invalid);
}

.input_out .input:valid ~ .contactErrorMess {
    opacity: 0;
}

.input_out .input:valid,
.input_out > textarea:valid {
    border-bottom: 2px solid var(--valid);
}

.input_out > textarea {
    width: 100%;
}

.input_out > label {
    position: absolute;
    padding: 5px 6px;
    top: 15px;
    left: 0;
    letter-spacing: 1px;
    font-family: var(--styled-font);
    z-index: 1;
    filter: drop-shadow(1px 1px 2px hsla(var(--code), 0%, 0%, 0.4));
}

.input_out > label > span {
    display: inline-block;
    min-width: 5px;
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    font-weight: 700;
}

.input_out .input:focus + label > span,
.input_out .input:not(:placeholder-shown) + label > span,
.input_out > textarea:focus + label > span,
.input_out > textarea:valid + label > span {
    color: var(--color);
    transform: translateY(-24px);
}

.contact_form_out > button {
    width: 40rem;
    margin: 20px auto;
    padding: 5px 20px;
    font-size: 2.5rem;
    border-radius: 25px;
    border: 1px solid transparent;
    filter: drop-shadow(2px 2px 4px hsla(var(--code), 0%, 0%));
    background: var(--color);
    color: var(--text);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px hsla(var(--code), 0%, 0%);
    overflow: hidden;
}

.contact_form_out > button > svg {
    opacity: 0 !important;
    transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translateX(-100px);
    filter: drop-shadow(2px 2px 4px hsla(var(--code), 0%, 0%));
    margin-right: -30px;
    font-size: 3.5rem;
    rotate: 180deg;
}

@media (min-width: 768px) and (min-height: 400px) {
    .contact_form_out > button:hover > svg {
        opacity: 1 !important;
        transform: translateX(0px);
        margin-right: 0px;
    }

    .contact_form_out > button:hover {
        transform: scale(1.005);
        background: var(--theme);
        border-color: var(--color);
    }

    .contact_form_out > button:active {
        transform: scale(0.995);
    }
}

@media (max-width: 768px) {
    .contact_container_inner {
        margin: 10px 10px;
        padding: 10px 10px;
    }

    .input_form {
        --width: 200px;
    }

    .input_form:before {
        animation: none;
        top: 70px;
    }

    .input_form:after {
        animation: none;
        bottom: 70px;
    }

    .contact_form_out {
        justify-content: center;
    }

    .contact_form {
        flex-direction: column;
        justify-content: center;
    }

    .contact_form_out > button {
        margin: 0px auto;
        width: 30rem;
    }

    .input_container,
    .textarea_out {
        width: 80%;
    }

    .input_out {
        width: 100%;
    }

    .input_out > input,
    #message {
        width: 94%;
        max-width: 94%;
        min-width: 94%;
    }
}
