.contact_container {
    height: 100%;
    min-height: 100vh;
    width: 100%;
}

.contact_container > h1 {
    margin: 0;
}

.contact_form_out {
    min-height: 80vh;
    height: auto;
    width: calc(100% - 40px);
    background: #ffffff1a;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
}

.contact_form {
    height: auto;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.textarea_out{
    padding-top: 15px;
    width:50%;
}

.textarea_out .input_out{
    width: 100%;
}

.textarea_out .input_out .messCount{
    display:block;
    text-align:end;
    margin:5px;
    font-size:1rem
}

.contactErrorMess{
    position:absolute;
    font-weight: 700;
    margin:1px 5px;
    font-size:1rem;
}

.input_out .input:not(:focus) ~ .contactErrorMess{
    opacity: 0 ;
}

#message{
    width:100%;
}

/*^====================> Form <====================^*/

.input_out {
    display: block;
    position: relative;
    padding: 20px 0;
    font-size: 1.5rem;
}

.textarea_out {
    display: block;
    position: relative;
    padding: 20px 0;
    font-size: 1.5rem;
}

.input_out .input,
.input_out > textarea {
    background: transparent;
    position: relative;
    display: block;
    color: white;
    font-size: 1.5rem;
    padding: 5px 7px;
    letter-spacing: 1px;
    border: none;
    border-bottom: 2px solid var(--color);
    z-index: 2;
    outline: 0;
}

.input_out .input:focus ~ .contactErrorMess{
    color: #f6112f !important;
    opacity: 1 ;
}

.input_out .input:focus,
.input_out > textarea:focus{
    border-bottom: 2px solid #f6112f;
}

.input_out .input:valid ~ .contactErrorMess{
    opacity: 0 ;
}

.input_out .input:valid ,
.input_out > textarea:valid {
    border-bottom: 2px solid var(--color);
}

.input_out > textarea {
    width: 100%;
}

.input_out > label {
    position: absolute;
    padding: 5px 6px;
    top: 15px;
    left: 0;
    letter-spacing: 1px;
    z-index: 1;
}

.input_out > label > span {
    display: inline-block;
    min-width: 5px;
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.input_out .input:focus + label > span,
.input_out .input:not(:placeholder-shown) + label > span,
.input_out > textarea:focus + label > span,
.input_out > textarea:valid + label > span{
    color: var(--color);
    transform: translateY(-24px);
}

.contact_form_out > button  {
    width: 60%;
    margin: 20px auto;
    padding: 10px 20px;
    font: 700 14px Montserrat;
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: 2px 2px 8px var(--theme);
    background: var(--color);
    color: var(--theme);
    transition: all 0.1s ease-in-out;
    cursor:grab;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.contact_form_out > button > #submitIcon{
    opacity:0 !important;
    transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translateX(-100px);
    margin-right:-30px;
}

.contact_form_out > button:hover > #submitIcon{
    opacity:1 !important;
    transform: translateX(0px);
    margin-right:0px;
}

.contact_form_out > button:hover{
    transform: scale(1.005);
    background: var(--theme);
    color: var(--text);
    border-color: var(--color);
}

.contact_form_out > button:active {
    transform: scale(0.995);
    cursor:grabbing;
}

@media (max-width: 768px) {
    .input_form {
        --width: 200px;
    }

    .input_form:before {
        animation: none;
        top: 70px;
    }

    .input_form:after {
        animation: none;
        bottom: 70px;
    }

    .contact_form_out {
        justify-content: center;
        height: auto;
        width: calc(100% - 20px);
        border-radius: 10px;
        margin: 40px auto;
        padding: 20px 0;
    }

    .contact_form{
        flex-direction: column;
        justify-content: center;
    }

    .input_container, .textarea_out{
        width:80%;
    }

    .input_out{
        width: 100%;
    }
    
    .input_out > input, #message{
        width:94%;
        max-width:94%;
        min-width:94%;
    }
}
