.cls-1 {
    fill: hsl(var(--code), 3%, 100%, 0.9);
}

.cls-2 {
    fill: hsl(var(--code), 3%, 27%, 1);
}

.cls-3 {
    fill: hsl(var(--code), 3%, 80%, 0.7);
}

.ghost > .four {
    animation: float 3s -5s ease-in-out infinite backwards;
}
.ghost > .six {
    animation: float 3s -3s ease-in-out infinite backwards;
}
@keyframes float {
    50% {
        transform: translateY(-20px);
    }
}

.Error_Container {
    height: var(--m-height);
    margin: 0;
    display: grid;
    place-items: center;
    background: var(--theme);
    background: radial-gradient(
        circle,
        var(--theme) 50%,
        hsl(var(--code), 0%, 0%) 100%
    );
    overflow: hidden;
}

.grave {
    height: 175px;
    width: 150px;
    background-color: #666;
    position: absolute;
    bottom: 0;
    margin: auto;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.grave > span {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 5em;
    letter-spacing: 3px;
    font-family: "Yatra One";
}

.ghost {
    position: absolute;
    bottom: 0;
    left: 0;
}

#Objects {
    width: 60%;
    display: none;
}
.boo {
    font-size: 12rem;
    margin: auto;
}

#AuthButton {
    margin: auto;
    padding: 6px 20px;
    border: none;
    box-shadow: 1px 1px 10px var(--color);
    border-radius: 25px;
    background: var(--color);
    color: var(--text);
    text-align: center;
    font-size: 1.5rem;
}

.tc {
    margin: 15px 0;
}
