.home_container {
    padding: 0 50px;
    height: auto;
    min-height: 100vh;
    z-index: 50;
}
@property --hue {
    syntax: "<integer>";
    inherits: true;
    initial-value: 0;
}

@property --deg {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}

.parentAnim {
    display: grid;
    place-items: center;
    height: auto;
    min-height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1 !important;
    overflow: hidden;
    width: 67vh;
}

@-webkit-keyframes rotate {
    from {
        --hue: 0;
        --deg: 0deg;
    }
    to {
        --hue: 360;
        --deg: 360deg;
    }
}

@keyframes rotate {
    from {
        --hue: 0;
        --deg: 0deg;
    }
    to {
        --hue: 360;
        --deg: 360deg;
    }
}

.box {
    -webkit-animation: rotate 3s linear infinite;
    animation: rotate 3s linear infinite;
    border: 2px solid transparent;
    border-image-slice: 1;
    border-image-width: 2px;
    border-image-source: conic-gradient(
        from var(--deg),
        hsla(calc(var(--hue) + 180), 100%, 75%, 0) 33%,
        hsla(calc(var(--hue) + 180), 100%, 75%, 0.5) 66%,
        hsla(calc(var(--hue) + 360), 100%, 60%, 1) 100%
    );
    width: 34.5vh;
    height: 60vh;
    transform: rotate(30deg);
    animation-delay: -0.8s;
}

.box1 {
    animation-delay: -1.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 34.5vh;
    height: 60vh;
    z-index: 2;
}

.box2 {
    transform: translate(-50%, -50%) scaleX(-1) rotate(60deg);
}

.box3 {
    transform: translate(-50%, -50%) scaleX(-1) rotate(-60deg);
}

.box4 {
    transform: translate(-50%, -50%) scaleX(1) rotate(60deg);
}

.box5 {
    transform: translate(-50%, -50%) scaleX(1) rotate(-60deg);
}

.box6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(-1);
}
.home_container > * {
    z-index: 20;
}
.home_container_inner > * {
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}
.home_container_inner > h4 {
    font-size: 2.8rem;
}

.home_container_inner > h1 {
    font-size: 9rem;
    text-shadow: 3px 3px 1px var(--color);
}

.home_container_inner > h1 > span {
    color: var(--color);
    text-shadow: 3px 3px 1px rgb(104 104 104);
}

.home_container_inner > h3 {
    font-size: 2.8rem;
}

.home_container_inner > h3 > span {
    color: var(--color);
}

/*^----------------------------> MEDIA QUERY <----------------------------^*/

@media (max-width: 768px) {
    .home_container {
        padding: 0 20px;
    }

    .parentAnim {
        width: 100%;
        position: relative;
        height: 100%;
        min-height: -moz-fit-content;
        min-height: fit-content;
        padding: 20vw 0;
    }

    .box1,
    .box {
        width: 17vh;
        height: 30vh;
    }

    .home_container_inner {
        /* padding-top: 35vh; */
    }

    .home_container_inner > h4 {
        font-size: 5.2vw;
    }

    .home_container_inner > h1 {
        font-size: 11.9vw;
    }

    .home_container_inner > h3 {
        font-size: 5.2vw;
        text-align: center;
        line-height: 50px;
    }

    .home_container_inner > h3 > span {
        color: var(--color);
        display: inline-block;
    }
}
