.home_container {
    padding: 0 50px;
    height: auto;
    min-height: 100vh;
    z-index: 50;
}
@property --hue {
    syntax: "<integer>";
    inherits: true;
    initial-value: 0;
}

@property --deg {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}

.parentAnim {
    display: grid;
    place-items: center;
    height: auto;
    min-height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1 !important;
    overflow: hidden;
    width: 67vh;
}

@-webkit-keyframes rotate {
    from {
        --hue: 0;
        --deg: 0deg;
    }
    to {
        --hue: 360;
        --deg: 360deg;
    }
}

@keyframes rotate {
    from {
        --hue: 0;
        --deg: 0deg;
    }
    to {
        --hue: 360;
        --deg: 360deg;
    }
}

.box {
    -webkit-animation: rotate 3s linear infinite;
    animation: rotate 3s linear infinite;
    border: 2px solid transparent;
    border-image-slice: 1;
    border-image-width: 2px;
    border-image-source: conic-gradient(
        from var(--deg),
        hsla(calc(var(--hue) + 180), 100%, 50%, 0) 33%,
        hsla(calc(var(--hue) + 300), 100%, 50%, 0.5) 66%,
        hsla(calc(var(--hue) + 360), 100%, 60%, 1) 100%
    );
    width: 34.5vh;
    height: 60vh;
    transform: rotate(30deg);
    animation-delay: -0.8s;
}

.box1 {
    animation-delay: -1.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 34.5vh;
    height: 60vh;
    z-index: 2;
}

.box2 {
    transform: translate(-50%, -50%) scaleX(-1) rotate(60deg);
}

.box3 {
    transform: translate(-50%, -50%) scaleX(-1) rotate(-60deg);
}

.box4 {
    transform: translate(-50%, -50%) scaleX(1) rotate(60deg);
}

.box5 {
    transform: translate(-50%, -50%) scaleX(1) rotate(-60deg);
}

.box6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(-1);
}
.home_container > * {
    z-index: 20;
}
.home_container_inner > * {
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    filter: drop-shadow(2px 2px 4px hsla(var(--code), 0%, 0%));
}

.home_container_inner > h1 {
    font-size: 10rem;
    font-weight: 600;
    font-family: var(--styled-font);
}
.home_container_inner > h1 > span {
    color: var(--color);
}

.home_container_inner > h3 {
    font-size: 2.6rem;
    margin-top: 25px;
    font-family: comfortaa, var(--styled-font);
}

.home_container_inner > h3 > span {
    color: var(--color);
    -webkit-text-stroke-width: 1px;
}

.home_button {
    padding-top: 60px;
}

.home_button_inner {
    background: var(--text);
    width: auto;
    border-radius: 30px;
}

.home_button_inner > * {
    border: none;
    gap: 20px;
    padding: 8px 5vw;
    font-size: 2rem;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
}

.home_button_inner > a {
    background: var(--text);
    color: var(--theme);
    text-decoration: none;
    font-weight: 700;
}

.home_button_inner > button {
    background: var(--color);
    color: var(--text);
    border: 4px solid var(--text);
    padding: 8px 6vw 8px 5vw;
}

svg.tea {
    position: absolute;
    top: -11px;
    right: 2.5vw;
    height: 42px;
}
#teabag {
    transform-origin: top center;
    transform: rotate(3deg);
    animation: swing 2s infinite;
}
#steamL {
    stroke-dasharray: 13;
    stroke-dashoffset: 13;
    animation: steamLarge 2s infinite;
}
#steamR {
    stroke-dasharray: 9;
    stroke-dashoffset: 9;
    animation: steamSmall 2s infinite;
}
@keyframes swing {
    50% {
        transform: rotate(-3deg);
    }
}
@keyframes steamLarge {
    0% {
        stroke-dashoffset: 13;
        opacity: 0.9;
    }
    100% {
        stroke-dashoffset: 39;
        opacity: 0;
    }
}
@keyframes steamSmall {
    10% {
        stroke-dashoffset: 9;
        opacity: 0.9;
    }
    80% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
    100% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
}

.home_button_inner > a > svg {
    width: 116px;
    height: 65px;
    position: absolute;
    left: 50%;
    bottom: 4px;
    transform: translate(-50%, 7px) translateZ(0);
    fill: none;
    stroke: var(--color);
    stroke-linecap: round;
    stroke-width: 2px;
    stroke-dasharray: 69px 278px;
    stroke-dashoffset: 361px;
    transition: stroke 0.25s ease 0.1s, stroke-dasharray 0.35s;
}

.home_button_inner > a:hover > svg {
    stroke-dasharray: 180px 278px;
}

/*^----------------------------> MEDIA QUERY <----------------------------^*/

@media (max-width: 768px) {
    .home_container {
        padding: 0 20px;
    }

    .parentAnim {
        width: 100%;
        position: relative;
        height: 100%;
        min-height: -moz-fit-content;
        min-height: fit-content;
        padding: 5vw 0 20vw 0;
    }

    .box1,
    .box {
        width: 17vh;
        height: 30vh;
    }
    .home_container_inner > * {
        text-align: center;
    }

    .home_container_inner > h1 {
        font-size: 15vw;
    }

    .home_container_inner > h3 {
        font-size: 5.2vw;
    }
    .home_button {
        width: 100%;
        justify-content: center;
    }

    .home_button_inner > * {
        border: none;
        font-size: 1.7rem;
        border-radius: 30px;
        cursor: pointer;
    }

    .home_button_inner > a {
        margin-top: 3px;
        padding: 8px 8vw;
    }

    .home_button_inner > button {
        padding: 8px 14vw 8px 8vw;
    }

    svg.tea {
        top: -6px;
        right: 4.5vw;
        height: 33px;
    }

    .home_button_inner > a > svg {
        display: none;
    }
}
