.navbar_section {
    position: fixed;
    width: 100%;
    height: 75px;
    top: 0;
    left: 0;
    background: var(--theme);
    box-shadow: 0 2px 20px var(--theme);
    transition: all 0.05s ease-in-out;
    z-index: 1000;
}

#navbar_section.active {
    background: hsla(var(--code), 0%, 100%, 0.102);
    box-shadow: 0 2px 20px var(--theme);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    transition: all 0.35s ease;
    height: 65px;
}

.navbar_logo {
    flex: 1;
    height: 100%;
    padding: 0 30px;
}

.navbar_tabs {
    width: 50%;
    height: 100%;
    font-weight: 500;
}

.nav_tabs {
    position: relative;
    width: 100%;
    height: 100%;
}

.indicator {
    position: absolute;
    height: 4px;
    background: var(--color);
    bottom: 16px;
    transition: 0.4s ease-in;
    border-radius: 4px;
    box-shadow: 0px 4px 8px var(--color);
}

.nav_tab .link {
    text-decoration: none;
    cursor: pointer;
    color: var(--text);
    font-size: 2rem;
    filter: drop-shadow(2px 2px 4px hsla(var(--code), 0%, 0%));
}

#navbar_section.active ~ .nav_tab .link {
    stroke: 1px solid var(--valid);
}

.nav_tab .link:hover {
    color: var(--color);
    font-weight: 500;
}

.navbar_menu {
    display: none;
}

/*^----------------------------> MENU <----------------------------^*/

.navbar_menu {
    width: 20%;
}

.menu_icon {
    width: 30px;
    height: 25px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    transform: rotate(0deg);
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 0.55);
    z-index: 510;
    top: 0px;
    right: 0px;
    filter: drop-shadow(2px 2px 3px hsla(var(--code), 0%, 0%, 0.7));
}
.menu_icon span {
    background-color: var(--color);
    position: absolute;
    border-radius: 2px;
    transition: 0.8s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    width: 100%;
    height: 4px;
    transition-duration: 1000ms;
}
.menu_icon span:nth-child(1) {
    top: 0px;
    left: 0px;
}
.menu_icon span:nth-child(2) {
    top: 10px;
    left: 0px;
    opacity: 1;
}
.menu_icon span:nth-child(3) {
    bottom: 0px;
    left: 0px;
}
.menu_icon:not(.active):hover span:nth-child(1) {
    transform: rotate(-3deg) scaleY(1.1);
}
.menu_icon:not(.active):hover span:nth-child(2) {
    transform: rotate(3deg) scaleY(1.1);
}
.menu_icon:not(.active):hover span:nth-child(3) {
    transform: rotate(-4deg) scaleY(1.1);
}

.menu_icon.active span {
    background-color: var(--color);
}
.menu_icon.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 13px;
}
.menu_icon.active span:nth-child(2) {
    opacity: 0;
}
.menu_icon.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 13px;
}

.navbar_menu.active .menu_icon {
    transform: rotate(-180deg);
    top: 25px;
    right: 20px;
    width: 35px;
    height: 30px;
    filter: drop-shadow(2px 2px 4px hsla(var(--code), 0%, 0%));
}

.navbar_menu .menu_icon > #menu_icon_add,
.link > svg {
    font-size: 4rem;
    color: var(--color);
    filter: drop-shadow(2px 2px 4px hsla(var(--code), 0%, 0%));
}

.navbar_menu.active .menu_icon #menu_icon_add {
    font-size: 4rem;
}

.navbar_menu .menu_tabs {
    position: absolute;
    left: 0;
    top: -10px;
    transform: translateY(-1500px);
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 500;
    width: 100%;
    height: var(--m-height);
    background: var(--theme);
    gap: 20px;
}

.navbar_menu.active .menu_tabs {
    transform: translateY(0px);
}

.menu_tab {
    width: 100%;
    height: 50px;
}

.menu_tab > div {
    width: 40vw;
    min-width: 20rem;
    gap: 10px;
}

.menu_tab > div > span {
    font: 700 3rem Montserrat;
    filter: drop-shadow(2px 2px 4px hsla(var(--code), 0%, 0%));
}

/*^----------------------------> MEDIA QUERY <----------------------------^*/

@media (max-width: 768px) {
    .navbar_section {
        height: 60px;
    }

    #navbar_section.active {
        height: 55px;
    }

    .navbar_tabs {
        display: none;
    }

    .navbar_menu {
        display: flex;
    }
}
